.container {
  background: var(--surface);
  color: var(--text);
  border-radius: 1rem;
  padding: 1.5rem;
}

.conditions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.value {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding-left: 2rem;
}
