.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.title {
  font-size: 3rem;
  display: flex;
  align-items: center;
  text-transform: none;
}

.temp {
  font-size: 2rem;
  font-weight: 600;
  margin-block: 0.5em;
}
