.container {
  background: var(--surface);
  color: var(--text);
  border-radius: 1rem;
  padding: 1.5rem;
}

.list {
  display: flex;
  justify-content: space-between;
}

.listItem {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
