.report {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1.5rem;
  gap: 1rem;

  @media (max-width: 56em) {
    grid-template-columns: 1fr;
  }
}

.main {
  display: grid;
  gap: 1.5rem;
}

.side {
  padding-top: 1rem;
}
