.theme {
  background: var(--bg);
  background-color: var(--bg);
  color: var(--text);
  min-height: 100lvh;
}

.report {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1.5rem;
  gap: 1rem;

  @media (max-width: 56em) {
    grid-template-columns: 1fr;
  }
}

.main {
  display: grid;
  gap: 1rem;
}
