.container {
  background: var(--surface);
  color: var(--text);
  border-radius: 1rem;
  padding: 1.5rem;
}

.list {
  list-style: none;
  padding: 0;
  display: grid;
}
.listItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  padding-block: 1rem;
}

.listItem > :last-child {
  justify-self: end;
}

.icon {
  justify-self: center;
  display: flex;
  align-items: center;
}
